{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="advertising ">
  <div class="wrapper">
    {% include 'includes/navbar.html' %}
    <div class="content">
      <header class="hero-section">
        <img data-speed=".6" class="hero" src="{{bg}}" alt="Alt" />
        <div class="container">
          <div data-speed=".75" class="main-header">
            <div class="main-box">
              <span data-i18n="allSpan"> All In </span>
            <h1 class="main-title" data-i18n="all">
              One <br />Group

            </h1>
            <span class="logo-name"> Sadeq </span>
            </div>
          </div>
        </div>
      </header>

      <div class="portfolio">
        <div class="container">
          <main class="gallery services">
            <h2 data-i18n="adverServices">Advertising Services</h2>
            <div data-speed=".9" class="gallery__left">
              <ol>
                <!-- item -->
                <li class="gallery__item">
                  <div class="icon">
                    <i class="fa-brands fa-adversal"></i>
                  </div>
                  <div class="title" data-i18n="adverServices1">Branding</div>
                  <div class="descr"></div>
                </li>
                <!-- item -->
                <li class="gallery__item">
                  <div class="icon">
                    <i class="fa-brands fa-adversal"></i>
                  </div>
                  <div class="title" data-i18n="adverServices2">Social Media</div>
                  <div class="descr"></div>
                </li>
                <!-- item -->
                <li class="gallery__item">
                  <div class="icon">
                    <i class="fa-brands fa-adversal"></i>
                  </div>
                  <div class="title" data-i18n="adverServices3">Printing</div>
                  <div class="descr"></div>
                </li>
                <!-- item -->
                <li class="gallery__item">
                  <div class="icon">
                    <i class="fa-brands fa-adversal"></i>
                  </div>
                  <div class="title" data-i18n="adverServices4">Packaging</div>
                  <div class="descr"></div>
                </li>
                <!-- item -->
                <li class="gallery__item">
                  <div class="icon">
                    <i class="fa-brands fa-adversal"></i>
                  </div>
                  <div class="title" data-i18n="adverServices5">Web Design</div>
                  <div class="descr"></div>
                </li>
                <!-- item -->
                <li class="gallery__item">
                  <div class="icon">
                    <i class="fa-brands fa-adversal"></i>
                  </div>
                  <div class="title" data-i18n="adverServices6">Digital Marketing</div>
                  <div class="descr"></div>
                </li>
              </ol>
            </div>
          </main>
        </div>
      </div>
      <main class="studio gallery" id="studio">
        <div class="container p-0 m-0">
            <div class="form">
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Name" name="title" id="title"
                  value="{{ request.GET.title }}" />
                <label for="title" class="form__label" data-i18n="search">Search</label>
              </div>
              <select id = "category" name="category">
                <option value="" disabled selected data-i18n="fbCategory">Filter By Category</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
              <button onclick="fetchPictures()" data-i18n="search">Search</button>
            </div>
        </div>
        <div class="container gallery__right">
          <!-- 7 items  -->
          {% for picture in pictures %}
          <div class="gallery-item">
            <div class="content">{{picture.title}}</div>
            <img src="{{ picture.image.url }}" alt="" />
          </div>
          {% endfor %}
        </div>
        <div class="container p-0 m-0">
          <ul class="page" dir="ltr">
            <li class="page__btn">
              {% if pictures.has_previous %}
              <a href="?{% if request.GET.title %}title={{ request.GET.title }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}&page={{ pictures.previous_page_number }}"
                style="color: #6eaace"><i class="fa-solid fa-chevron-left"></i></a>
              {% else %}
              <span><i class="fa-solid fa-chevron-left"></i></span>
              {% endif %}
            </li>

            {% for num in pictures.paginator.page_range %}
            {% if pictures.number == num %}
            <li  class="page__numbers active">{{ num }}</li>
            {% else %}
            <a href="?{% if request.GET.title %}title={{ request.GET.title }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}&page={{ num }}"
              style="color: white; text-decoration: none;">
              <li class="page__numbers">{{ num }}</li>
            </a>
            {% endif %}
            {% endfor %}

            <li class="page__btn">
              {% if pictures.has_next %}
              <a href="?{% if request.GET.title %}title={{ request.GET.title }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}&page={{ pictures.next_page_number }}"
                style="color: #6eaace"><i class="fa-solid fa-chevron-right"></i></a>
              {% else %}
              <span><i class="fa-solid fa-chevron-right"></i></span>
              {% endif %}
            </li>
          </ul>
        </div>
      </main>
      {% include 'includes/footer.html' %}
    </div>
  </div>

  <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> -->
<script>
function fetchPictures() {
    var title = $('#title').val();
    var category = $('#category').val();

    $.ajax({
        url: "{% url 'core:fetch_pics' type=2 %}",
        type: 'GET',
        data: {
            title: title,
            category: category
        },
success: function (data) {
    var picturesContainer = $('.gallery__right');
    picturesContainer.empty();
    for (var key in data.pictures) {
        if (data.pictures.hasOwnProperty(key)) {
            var picture = data.pictures[key];
            var picPath = picture.image_url;
            var title = picture.title;
            var galleryItem = $('<div class="gallery-item"></div>');
            var content = $('<div class="content">' + title + '</div>');
            var img = $('<img src="' + picPath + '" alt="">');
            galleryItem.append(content);
            galleryItem.append(img);
            picturesContainer.append(galleryItem);
        }
    }
},
        error: function () {
            // Handle the error case
            console.error('Error fetching pictures.');
        }
    });
}

</script>
</body>
{% endblock %}