{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class=" ">
    <div class="wrapper">
        {% include 'includes/navbar.html' %}
        <div class="content">
          
            <header class="hero-section">
                <img data-speed=".6" class="hero" src="{{bg}}" alt="Alt" />
                <div class="container">
                  <div data-speed=".75" class="main-header">
                    <div class="main-box">
                      <span data-i18n="allSpan"> All In </span>
                    <h1 class="main-title" data-i18n="all">
                      One <br />Group
        
                    </h1>
                    <span class="logo-name"> Sadeq </span>
                    </div>
                  </div>
                </div>
              </header>
                
            <div class="portfolio">
                
              </div>
                <div class="container">
                <main class="gallery blog">
                    <h2 data-i18n="blogT">Blog</h2>
                    <div data-speed=".9" class="gallery__left">
                        <!-- Form  -->
                        <div class="form">
                            
                            <select id = "category" name="category">
                              <option value="" disabled selected data-i18n="fbCategory">Filter By Category</option>
                              <option value="all">All</option>
                              <optgroup label="ARCHITECTURE">
                                  {% for category in categories %}
                                  {% if category.type == '1' %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                  {% endif %}
                                  {% endfor %}
                              </optgroup>
                              <optgroup label="ADVERTISING">
                                  {% for category in categories %}
                                  {% if category.type == '2' %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                  {% endif %}
                                  {% endfor %}
                              </optgroup>
                              
                            </select>
                            <button onclick="fetchPictures()" data-i18n="search">Search</button>
                        </div>
                      <div class="gallery__item">
                   <div class="cards-con">
                       {% for post in posts %}
                       <div class="blog-card  ">
                        <div class="tag" {% if post.category.type == '2' %} data-type="adver" {% else %} data-type="arch" {% endif %}>
                            {{ post.category.name }}</div>
                        <figure class="card__thumb">
                            <img src="{{ post.post_image.url }}" alt="Picture by David Monje" class="card__image">
                            <figcaption class="card__caption">
                                <h2 class="card__title">{{ post.title }}</h2>
                                <p class="card__snippet">{{ post.subtitle }}</p>
                                <p class="card__snippet">{{ post.created_at|date:"d/m/Y"  }}</p>
                                <a href="{% url 'core:blogDetails' post.id %}" class="card__button">Read more</a>
                            </figcaption>
                        </figure>
                    </div>
                       {% endfor %}

                        <!-- Card -->
                   </div>
                </div>
                </main>
                <div class="stack">
                    <li><i class="fa-solid fa-chevron-left"></i></li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li><i class="fa-solid fa-chevron-right"></i></li>
                </div>
                </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>

    <script>
        function fetchPictures() {
            var category = $('#category').val();        
            $.ajax({
                url: "{% url 'core:get_posts' %}",
                type: 'GET',
                data: {
                    category: category
                },
        success: function (data) {
            var cardsContainer = $('.cards-con');
            cardsContainer.empty();
            console.log(data.length)
            for (var i = 0; i < data.length; i++) {
                var post_data = data[i];
                var url = "{% url 'core:blogDetails' 0 %}".replace('0', post_data.id);
                var cardHtml = '<div class="blog-card">' +
                    '<div class="tag" data-type="' + (post_data.category_type === '2' ? 'adver' : 'arch') + '">' +
                    post_data.category_name +
                    '</div>' +
                    '<figure class="card__thumb">' +
                    '<img src="' + post_data.image_url + '" alt="Picture by David Monje" class="card__image">' +
                    '<figcaption class="card__caption">' +
                    '<h2 class="card__title">' + post_data.title + '</h2>' +
                    '<p class="card__snippet">' + post_data.subtitle + '</p>' +
                    '<p class="card__snippet">' + post_data.created_at + '</p>' +
                    '<a href="' + url + '" class="card__button">Read more</a>'  +
                    '</figcaption>' +
                    '</figure>' +
                    '</div>';
        
                cardsContainer.append(cardHtml)// Append the HTML to the cardsHtml string
            }
        },
                error: function () {
                    // Handle the error case
                    console.error('Error fetching pictures.');
                }
            });
        }
        
        </script>

</body>
{% endblock %}